.recommended {
  margin-bottom: 120px;
  &__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
  }
  &__products {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.product {
  flex-basis: 324px;
  &__photo {
    margin-bottom: 32px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    width: max-content;
    font-size: 16px;
  }
  &__category {
    margin-top: 0;
    margin-bottom: 12px;
  }
  &__price {
    margin: 0;
    font-weight: 700;
  }
}

@media (max-width: 750px) and (min-width: 600px) {
  .recommended__title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .recommended__title {
    font-size: 32px;
  }
}
@media (max-width: 350px) {
  .recommended__title {
    font-size: 30px;
  }
  .product {
    &__title,
    &__price,
    &__category {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}
